@model string

@{
    var state = string.IsNullOrWhiteSpace(Model) ? string.Empty : "open";
}
    <details class="@state" @state>
        <summary><span class="summary">@ViewData["Label"]</span></summary>
        <div class="detail-content sfa-inset sfa-inset-yellow">
            @Html.TextAreaFor(m => m, new { @class = "form-control form-control-4-4", type = "text" })
        </div>
    </details>
</div>