@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.CommentViewModel

<a name="@Model.AnchorName"></a>
@if (Model.HasComment && Model.Status.IsStateReviewable())
{
    <a href="@Model.ViewCommentUrl"> 
        <i class="fa fa-comment sfa-icon-blue" alt="There are comments" title="There are comments"></i>       
    </a>
}
