@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.EditLinkViewModel

<a name="@Model.AnchorName"></a>
@if (Model.Status.IsStateReviewable())
{
    <a href="@Model.EditUrl" class="sfa-edit-button-@(Model.IsUnderParagraph ? "p" : "heading-xlarge")">Edit/comment</a>
}