@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@model ValidationResultViewModel

<a name="@Model.AnchorName"></a>
@if (Model.Status.IsStateReviewable())
{
    if (Model.HasWarning)
    {
        <a href="@Model.ViewValidationResultUrl">
            <i class="fa fa-flag the-icon" title="@Model.Warning"></i>
        </a>
    }
    else if (!Model.HasError)
    {
        <i class="fa fa-check sfa-icon-green"></i>
    }
}

@Html.Partial(CommentViewModel.PartialIconView, Model.CommentViewModel)