@model string

@if (!string.IsNullOrWhiteSpace(Model))
{
    <div class="form-group">
        <details class="open" open>
            <summary><span class="summary">@ViewData["Label"]</span></summary>
            <div class="detail-content sfa-inset sfa-inset-yellow">
                <div class="@Model.GetPreserveFormattingCssClass()">@Model</div>
            </div>
        </details>
    </div>
}