@model string

@if (!string.IsNullOrWhiteSpace(Model))
{
    <details class="open" open>
        <summary>@ViewData["Label"]</summary>
        <div class="detail-content sfa-inset sfa-inset-yellow">
            <div class="@Model.GetPreserveFormattingCssClass()">@Model</div>
        </div>
    </details>
}