.form-control-4-4 {
    width: 100%;
}

.form-control-auto {
    width: auto;
}

.sfa-input-auto-width {
    margin-bottom:5px;
    @include media(tablet){
        margin-bottom:0px;
        width:auto !important;
    }
}

.sfa-form-control-auto {
    width:auto !important;
}

.sfa-form-radio, .sfa-form-checkbox {
    padding-left:18px;
    input {
        margin-left:-18px !important;
    }
}

.sfa-form-control-after {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    display: block;
    color: #6f777b;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 2px;
    @include media(tablet){
        font-size: 19px;
        line-height: 1.31579;
    }
}

.sfa-form-control-1-4 {
    width:25% !important;
}