@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.AboutYouViewModel


<h2 class="heading-large">About you</h2>
<h3 class="heading-small">What are your main strengths?</h3>
<p>@(Model.Strengths ?? "-")</p>

<h3 class="heading-small">What skills would you like to improve during this apprenticeship?</h3>
<p>@(Model.Improvements ?? "-")</p>

<h3 class="heading-small">What are your hobbies and interests?</h3>
<p>@(Model.HobbiesAndInterests ?? "-")</p>

<hr/>