@using SFA.Apprenticeships.Domain.Entities.Candidates
@model DisabilityStatus?

@if (Model.HasValue && Model.Value != DisabilityStatus.Unknown)
{
        <h3 class="heading-small" id="disability-label">Do you have a learning difficulty, disability or health problem?</h3>
        @if (Model.Value == DisabilityStatus.PreferNotToSay)
        {
            <p>Prefer not to say</p>
        }
        else
        {
            <p>@Model.Value</p>
        }
}