@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.EducationViewModel

<h2 class="heading-large">Education</h2>

<h3 class="heading-small">Name of most recent school/college</h3>
<p>@(Model == null ? "-" : Model.Institution ?? "-")</p>

<h3 class="heading-small">Years attended</h3>
<h4 class="secondary-text">Started</h4>
<p>@(Model == null ? "-" : Model.FromYear == 0 ? "-" : Model.FromYear.ToString())</p>

<h4 class="secondary-text">Finished</h4>
<p>@(Model == null ? "-" : Model.ToYear == 0 ? "-" : Model.ToYear.ToString())</p>

<hr/>
