@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.ApplicationViewModel

@Html.DisplayFor(m => m.ApplicantDetails.DisabilityStatus, "Application/DisabilityStatusQuestion")


<h3 class="heading-small">Is there anything we can do to support your interview?</h3>
@if (Model.VacancyQuestionAnswers.HasAnythingWeCanDoToSupportYourInterviewAnswer)
{
    <p id="@Html.IdFor(m => m.VacancyQuestionAnswers.AnythingWeCanDoToSupportYourInterviewAnswer)">@Html.DisplayFor(m => m.VacancyQuestionAnswers.AnythingWeCanDoToSupportYourInterviewAnswer)</p>
}
else
{
    <p id="@Html.IdFor(m => m.VacancyQuestionAnswers.AnythingWeCanDoToSupportYourInterviewAnswer)">I don't have any interview support requirements</p>
}
