@model IEnumerable<SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.TrainingCourseViewModel>

    <h2 class="heading-large">Training courses</h2>

    @if (!Model.Any())
    {
        <p id="no-training-history">Applicant hasn't been on any training courses</p>
    }

    @foreach (var each in Model)
    {
            <div class="training-history-item">
                <table>
                    <colgroup>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                <h3 class="heading-small">Training course</h3>
                            </th>
                            <th>
                                <h3 class="heading-small">From</h3>
                            </th>
                            <th>
                                <h3 class="heading-small">To</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="bold-small">@each.Provider</span>
                                <br/>
                                <span class="secondary-text">@each.Title</span>
                            </td>
                            <td class="sfa-align-top">
                                @each.FromDate.GetMonthYearLabel()
                            </td>
                            <td class="sfa-align-top">
                                @each.ToDate.GetMonthYearLabel()
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    }
    <hr/>