@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.EditLinkViewModel

@if (Model.Status.IsStateEditable())
{
    var linkText = Model.CommentViewModel.HasComment ? "Edit/View feedback" : "Edit";
    <a href="@Model.EditUrl" class="sfa-edit-button-@(Model.IsUnderParagraph ? "p" : "heading-xlarge")">@linkText</a>
}