@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.SubmittedVacancyViewModel
@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@using SFA.Apprenticeships.Infrastructure.Presentation
@using SFA.Apprenticeships.Web.Recruit.Constants
@{
    ViewBag.Title = "Recruit an Apprentice - Confirmation of submission";

    var vacancyText = Model.VacancyText;
    var vacancyRef = Model.VacancyReferenceNumber.GetVacancyReference();
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight sfa-govuk-box-highlight">
            <h1 class="bold-large">
                @if (Model.Resubmitted)
                {
                    @:@(vacancyText) resubmitted for approval
                }
                else
                {
                    @:@(vacancyText) submitted for approval
                }
            </h1>
            <p>The vacancy reference number is
                <br/>
                <strong class="heading-medium">@vacancyRef</strong>
            </p>
        </div>
        
        <h2 class="heading-medium">Next steps</h2>

        @if (Model.IsMultiLocationVacancy)
        {
            <p>
                Once your vacancy has been reviewed and approved by a Skills Funding Agency adviser, it will be split into separate adverts for each location.
            </p>
            <p>
                You'll be notified via your recruitment homepage if any changes are necessary before the adverts go live.
            </p>
        }
        else
        {
            <p>
                @if (Model.VacancyType == VacancyType.Traineeship)
                {
                    @:Your traineeship opportunity will now be reviewed by a Skills Funding Agency adviser.
                }
                else
                {
                    @:Your vacancy advert will now be reviewed by a Skills Funding Agency adviser.
                }
                You’ll be notified via your recruitment home page if any changes are
                necessary before the advert goes live.
            </p>
        }
        <div class="form-group inline sfa-xlarge-top-margin">
            <a href="@Url.RouteUrl(RecruitmentRouteNames.SelectExistingEmployer, new { providerSiteId = Model.ProviderSiteId })" class="button">Start new opportunity or vacancy</a>
            <a href="@Url.RouteUrl(RecruitmentRouteNames.RecruitmentHome)" class="button sfa-button-secondary">Return to recruitment home</a>
        </div>
    </div>
</div>
